<div
  style="
    background-size: 1400px 700px;
    background-image: url(https://www.thetimes.co.uk/imageserver/image/%2Fmethode%2Ftimes%2Fprod%2Fweb%2Fbin%2Fb3118e3e-38c1-11eb-a4fe-454ae9b80c8b.jpg?crop=6400%2C3600%2C160%2C846);
  "
>
  <div class="banner-section">
    <div class="row">
      <div></div>
      <div>
        <div class="banner-detail" style="visibility: hidden">
            <h1>RPTS</h1>
          <h5>Right Place To Shop</h5>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="afterImg">
  <p >RPTS</p>
  <p >Right Place To Shop</p>
</div>



<!-- [routerLink]="['/tvDetails', tv.id]" -->

<div class="container mt-5">
  <div class="row justify-content-center">
    <div id="div1" class="card movie_card" *ngFor="let homeProduct of allProducts">
      <a [routerLink]="['/homeProductsDetails', homeProduct.id]"
        ><img class="card-img-top" alt="..." [src]="homeProduct.productImage"
      /></a>

      <div class="card-body">
        <h5 class="card-title">{{ homeProduct.productName }}</h5>
        <h5 class="card-title">{{ homeProduct.productPrice }} EG</h5>
        <p class="description" *ngIf="homeProduct.toggleDiscription">
          {{ homeProduct.productDescription }}
        </p>
        <button
          class="btn btn-warning d-block m-1"
          (click)="toggleDetails(homeProduct.id)"
        >
          {{ homeProduct.toggleDiscription ? "Hide" : "See" }} Details
        </button>
      </div>
    </div>
  </div>
</div>
